
    <aside class="widget-area">
        <!-- widget single item start -->
        <div class="card widget-item">
            <h4 class="widget-title">Recent Notifications</h4>
            <div class="widget-body">
                <ul class="like-page-list-wrapper">
                    <li class="unorder-list">
                        <!-- profile picture end -->
                        <div class="profile-thumb">
                            <a href="#">
                                <figure class="profile-thumb-small">
                                    <!-- <img src="assets/images/profile/profile-small-9.jpg" alt="profile picture"> -->
                                </figure>
                            </a>
                        </div>
                        <!-- profile picture end -->

                        <div class="unorder-list-info">
                            <h3 class="list-title"><a href="#">Any one can join with us if you want</a></h3>
                            <p class="list-subtitle">5 min ago</p>
                        </div>
                    </li>
                    <li class="unorder-list">
                        <!-- profile picture end -->
                        <div class="profile-thumb">
                            <a href="#">
                                <figure class="profile-thumb-small">
                                    <!-- <img src="assets/images/profile/profile-small-35.jpg" alt="profile picture"> -->
                                </figure>
                            </a>
                        </div>
                        <!-- profile picture end -->

                        <div class="unorder-list-info">
                            <h3 class="list-title"><a href="#">Any one can join with us if you want</a></h3>
                            <p class="list-subtitle">10 min ago</p>
                        </div>
                    </li>
                    <li class="unorder-list">
                        <!-- profile picture end -->
                        <div class="profile-thumb">
                            <a href="#">
                                <figure class="profile-thumb-small">
                                    <!-- <img src="assets/images/profile/profile-small-15.jpg" alt="profile picture"> -->
                                </figure>
                            </a>
                        </div>
                        <!-- profile picture end -->

                        <div class="unorder-list-info">
                            <h3 class="list-title"><a href="#">Any one can join with us if you want</a></h3>
                            <p class="list-subtitle">18 min ago</p>
                        </div>
                    </li>
                    <li class="unorder-list">
                        <!-- profile picture end -->
                        <div class="profile-thumb">
                            <a href="#">
                                <figure class="profile-thumb-small">
                                    <!-- <img src="assets/images/profile/profile-small-6.jpg" alt="profile picture"> -->
                                </figure>
                            </a>
                        </div>
                        <!-- profile picture end -->

                        <div class="unorder-list-info">
                            <h3 class="list-title"><a href="#">Any one can join with us if you want</a></h3>
                            <p class="list-subtitle">25 min ago</p>
                        </div>
                    </li>
                    <li class="unorder-list">
                        <!-- profile picture end -->
                        <div class="profile-thumb">
                            <a href="#">
                                <figure class="profile-thumb-small">
                                    <!-- <img src="assets/images/profile/profile-small-34.jpg" alt="profile picture"> -->
                                </figure>
                            </a>
                        </div>
                        <!-- profile picture end -->

                        <div class="unorder-list-info">
                            <h3 class="list-title"><a href="#">Any one can join with us if you want</a></h3>
                            <p class="list-subtitle">39 min ago</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- widget single item end -->

        <!-- widget single item start -->
        <div class="card widget-item">
            <h4 class="widget-title">Advertizement</h4>
            <div class="widget-body">
                <div class="add-thumb">
                    <a href="#">
                        <!-- <img src="assets/images/banner/advertise.jpg" alt="advertisement"> -->
                    </a>
                </div>
            </div>
        </div>
        <!-- widget single item end -->

        <!-- widget single item start -->
        <div class="card widget-item">
            <h4 class="widget-title">Friends Zone</h4>
            <div class="widget-body">
                <ul class="like-page-list-wrapper">
                    <li class="unorder-list">
                        <!-- profile picture end -->
                        <div class="profile-thumb">
                            <a href="#">
                                <figure class="profile-thumb-small">
                                    <!-- <img src="assets/images/profile/profile-small-33.jpg" alt="profile picture"> -->
                                </figure>
                            </a>
                        </div>
                        <!-- profile picture end -->

                        <div class="unorder-list-info">
                            <h3 class="list-title"><a href="#">Ammeya Jakson</a></h3>
                            <p class="list-subtitle"><a href="#">10 mutual</a></p>
                        </div>
                        <button class="like-button">
                            <!-- <img class="heart" src="assets/images/icons/heart.png" alt=""> -->
                            <!-- <img class="heart-color" src="assets/images/icons/heart-color.png" alt=""> -->
                        </button>
                    </li>
                    <li class="unorder-list">
                        <!-- profile picture end -->
                        <div class="profile-thumb">
                            <a href="#">
                                <figure class="profile-thumb-small">
                                    <!-- <img src="assets/images/profile/profile-small-30.jpg" alt="profile picture"> -->
                                </figure>
                            </a>
                        </div>
                        <!-- profile picture end -->

                        <div class="unorder-list-info">
                            <h3 class="list-title"><a href="#">Jashon Muri</a></h3>
                            <p class="list-subtitle"><a href="#">2 mutual</a></p>
                        </div>
                        <button class="like-button active">
                            <!-- <img class="heart" src="assets/images/icons/heart.png" alt=""> -->
                            <!-- <img class="heart-color" src="assets/images/icons/heart-color.png" alt=""> -->
                        </button>
                    </li>
                    <li class="unorder-list">
                        <!-- profile picture end -->
                        <div class="profile-thumb">
                            <a href="#">
                                <figure class="profile-thumb-small">
                                    <!-- <img src="assets/images/profile/profile-small-5.jpg" alt="profile picture"> -->
                                </figure>
                            </a>
                        </div>
                        <!-- profile picture end -->

                        <div class="unorder-list-info">
                            <h3 class="list-title"><a href="#">Rolin Theitar</a></h3>
                            <p class="list-subtitle"><a href="#">drama</a></p>
                        </div>
                        <button class="like-button">
                            <!-- <img class="heart" src="assets/images/icons/heart.png" alt=""> -->
                            <!-- <img class="heart-color" src="assets/images/icons/heart-color.png" alt=""> -->
                        </button>
                    </li>
                    <li class="unorder-list">
                        <!-- profile picture end -->
                        <div class="profile-thumb">
                            <a href="#">
                                <figure class="profile-thumb-small">
                                    <!-- <img src="assets/images/profile/profile-small-29.jpg" alt="profile picture"> -->
                                </figure>
                            </a>
                        </div>
                        <!-- profile picture end -->

                        <div class="unorder-list-info">
                            <h3 class="list-title"><a href="#">Active Mind</a></h3>
                            <p class="list-subtitle"><a href="#">fitness</a></p>
                        </div>
                        <button class="like-button">
                            <!-- <img class="heart" src="assets/images/icons/heart.png" alt=""> -->
                            <!-- <img class="heart-color" src="assets/images/icons/heart-color.png" alt=""> -->
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        </aside>
