<div class="accuiel-dashbord ">
    <div class="main-wrapper pt-2">
        <h1>Accuiel</h1>
    <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 order-lg-1">
                    <jhi-accueil-profile></jhi-accueil-profile>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <jhi-accueil-post></jhi-accueil-post>
                </div>
                <div class="col-lg-3 order-3">
                    <jhi-accueil-right-section></jhi-accueil-right-section>
                </div>
            </div>
        </div>

    </div>
</div>
