<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comments">
            <h2><span>Comments</span> {{ comments.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Content Text</span></dt>
                <dd>
                    <span>{{ comments.contentText }}</span>
                </dd>
                <dt><span>Date Pub</span></dt>
                <dd>
                    <span>{{ comments.datePub }}</span>
                </dd>
                <dt><span>Time</span></dt>
                <dd>
                    <span>{{ comments.time }}</span>
                </dd>
                <dt><span>Parent</span></dt>
                <dd>
                    <div *ngIf="comments.parentId">
                        <a [routerLink]="['/comments', comments.parentId, 'view']">{{ comments.parentId }}</a>
                    </div>
                </dd>
                <dt><span>Comments</span></dt>
                <dd>
                    <div *ngIf="comments.commentsId">
                        <a [routerLink]="['/post', comments.commentsId, 'view']">{{ comments.commentsId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comments', comments.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
