<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reaction">
            <h2><span>Reaction</span> {{ reaction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Is Comment</span></dt>
                <dd>
                    <span>{{ reaction.isComment }}</span>
                </dd>
                <dt><span>Is Like</span></dt>
                <dd>
                    <span>{{ reaction.isLike }}</span>
                </dd>
                <dt><span>Post</span></dt>
                <dd>
                    <div *ngIf="reaction.postId">
                        <a [routerLink]="['/post', reaction.postId, 'view']">{{ reaction.postId }}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <div *ngIf="reaction.userId">
                        <a [routerLink]="['/application-user', reaction.userId, 'view']">{{ reaction.userId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reaction', reaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
