<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">
            <h2><span>Post</span> {{ post.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="The firstname attribute.">Title</span></dt>
                <dd>
                    <span>{{ post.title }}</span>
                </dd>
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{ post.content }}</span>
                </dd>
                <dt><span>Date Pub</span></dt>
                <dd>
                    <span>{{ post.datePub }}</span>
                </dd>
                <dt><span>Time</span></dt>
                <dd>
                    <span>{{ post.time }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/post', post.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
